#content{
	
	height:700px;
}

#aboutText{
	
	width:700px;
	height:300px;
	text-align:center;
	color:#3d52a3;
	font-size:25px;
	
}

#hi{
	
	margin-top:70px;
	width:700px;
	height:100px;
	margin-left:150px;
	
}

#for{
	
	width:700px;
	height:100px;
	margin-left:150px;
}

#i{
	
	width:700px;
	height:100px;
	margin-left:150px;
}

#top{
	
	height:350px;
}

#middle{
	
	margin-top:120px;
}

#stud{
	
	margin-top:40px;
	margin-left:300px;
}

