#content{
	
	height:auto;
	width:990px;
	color:#3d52a3;
	font-size:20px;
	
}

#p{
	text-align:center;
}

#l{
	
	margin-left:90px;
	
}

#l1b{
	margin-left:90px;
}

#l2b{
	margin-left:90px;
}

#w{
	
	margin-left:90px;
	
}

#b{
	
	margin-left:90px;
	
}

#w1{

	margin-left:90px;
	
}

#w1 p{
	
	text-align:center;
	
}

#w2 p{
	
	text-align:center;
	
}

#w2{

	margin-left:90px;
	
}

#b1{
	margin-left:70px;
}

#b2{
	
	margin-left:70px;
}